<section class="section">
	<div class="container">
		<div class="row">
			{% for p in post.get_field('partner') %}
				{{ siteMacros.partner(p.image, p.name) }}
			{% endfor %}
		</div>
	</div>
</section>