+b('nav')
	+e("menu")
		
		li
			
			display: block

			+transition()

			a
				display: block
				position: relative
				color: inherit
				text-decoration: none
				+font('bl')
				color: $color-brand-2

			+max(md)
				margin-bottom: 10px

				a
					padding: 10px 15px

			+min(md)
				display: inline-block
				vertical-align: middle

				&:not(:last-child)
					margin-right: 15px

				a
					+padding-y(7.5px)

					+linkEffect3