.payment
	background-size: cover

	+min(sm)
		background-attachment: fixed
		background-position: 0
	
	&__content
		padding: 60px 15px
		color: $color-white
		background-color: transparentize($color-black, 0.4)

		+min(md)
			padding: 120px 30px 60px 30px

		&-header
			text-align: center
			

			h1,h2,h3,h4,h5,h6
				+margin-y(20px)
				color: $color-brand-1
			p,ul,ol
				font-size: 14px
				margin-bottom: 15px

	&__row
		+min(sm)
			justify-content: flex-end