<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-9">
				<div class="row">
					{% for child in children %}
						{{
							siteMacros.case(
								'col-12 col-sm-6',
								TimberImage(child.thumbnail).src,
								child.title,
								child.age,
								child.city,
								child.description,
								child.link
							)
						}}
					{% endfor %}
				</div>
			</div>
			<div class="col-12 col-md-3">
				{{sidebar}}
			</div>
		</div>
	</div>
</section>