.article-item

	margin-bottom: 40px

	&__link
		text-decoration: none
		color: $color-black

		+transition()

	&__header
		+max(sm)
			margin-bottom: 15px

	&__image

		+transition()
		+size(100%)
		object-fit: cover

		&-wrapper
			+relative()
			max-width: 370px
			max-height: 170px
			overflow: hidden

	&__title
		margin-bottom: 7.5px

		+font('b')
		+transition()

		font-size: 21px

	&__info
		margin-bottom: 7.5px
		color: #797979
		font-size: 12px
		+font('l')

		> span
			+relative()

			&:not(:last-child)
				margin-right: 10px

				&:after
					content: "|"
					display: inline-block
					vertical-align: middle
					margin-left: 10px

	&__description
		margin-bottom: 10px
		color: #797979
		font-size: 15px
	
	&__read
		+relative
		display: inline-block
		padding-left: 40px
		
		text-decoration: none
		font-size: 14px
		+font('l')
		color: $color-black

		+transition

		&:before
			content: ""
			+absolute(50%, null, null, 0)
			+size(30px, 2px)
			background-color: $color-brand-1
			margin-top: -1px

	&:hover &

		&__image

			transform: scale(1.2)

		&__title
			color: $color-brand-1