.benefit
	text-align: center
	margin-bottom: 45px

	&__circle
		margin-bottom: 20px

		&-text
			+absolute(50%, null, null, 50%)
			transform: translate(-50%, -50%)
			+font('bl')
			font-size: 48px
			color: $color-brand-2

	&__title
		text-transform: uppercase
		line-height: 1.2
		color: #010101
		+font('bl')