<section class="section front-instagram">
	<div class="container">
		{{siteMacros.titleSection(post.get_field('section_instagram_title'))}}
	</div>
	<div id="instafeed" class="owl-carousel front-instagram__carousel"></div>
		<script>
			document.addEventListener("DOMContentLoaded", function(){
				var userFeed = new Instafeed({
					get: 'user',
					userId: '8142711229',
					accessToken: '8142711229.77141bc.f14a9413f5104e47872f66a0118a78fa',
					resolution: "standard_resolution",
					limit: "6",
					after: function(){
						jQuery("#instafeed").owlCarousel({
							items: 1,
							loop: true,
							margin: 0,
							responsive: {
								768: {
									items: 2
								},
								1200: {
									items: 3
								}
							}
						});
					}
				});
				userFeed.run();
			});
		</script>
</section>