<section class="front-section-children">
	<div class="container">
		{{siteMacros.titleSection(post.get_field('section_children_title'))}}
		<div class="row front-section-children__row">
			{% for child in main_children %}
				{{
					siteMacros.case(
					'col-12 col-sm-6 col-md-3',
					child,
					siteMacros.string('Помочь', 'Help')
					) 
				}}
			{% endfor %}
		</div>
	</div>
</section>