<section class="section attention attention_footer-negative attention_negative">
	<div class="container">
		<div class="attention__content">{{post.get_field('section_attention_econom')}}</div>
		<div class="attention__footer">
			{{
				siteMacros.landingButton(
					post.get_field('section_attention_econom_btn_link'),
					post.get_field('section_attention_econom_btn_text'),
					'effect_skew'
				)
			}}
		</div>
	</div>
</section>