.front-basis
	+padding-y(45px, 90px)
	background-color: $color-brand-4

	+min(md)
		padding-bottom: 150px

	&__list
		
		color: $color-brand-2
		font-size: 23px
		
		+max(sm)
			&:not(:last-child)
				margin-bottom: 30px

		ul
			list-style: none

		li
			+relative()
			margin-bottom: 5px
			padding-left: 25px

			&:before
				content: ""
				+absolute(50%, null, null, 0)
				transform: translateY(-50%)
				+size(15px, 2px)
				background-color: $color-brand-1