.front-contact
	+relative()
	+padding-y(45px)
	z-index: 1
	background-color: $color-brand-4

	+min(sm)
		+padding-y(60px)

	&__row

		+min(sm)
			justify-content: center

	&__carousel

		a
			display: block
			font-size: 0
			+relative()
			+transition()

			&:before,
			&:after
				
				+absolute(null, null, null, 0)
				opacity: 0
				+transition()

			&:before
				content: ""
				top: 0
				+size(100%)
				background-color: transparentize($color-brand-2, 0.3)
				

			&:after
				content: "LifeChanger"
				width: 100%
				
				top: 50%
				transform: translateY(-50%)

				color: $color-white
				text-transform: uppercase
				font-size: 20px
				text-align: center
				+font('b')

				z-index: 1
		
			&:hover
				&:before,
				&:after
					opacity: 1

		.owl-dots
			margin-top: 15px
			text-align: center

		.owl-dot
			display: inline-block
			+size(15px)
			background-color: $color-brand-1
			margin-right: 5px
			border-radius: 100%
			border: none

			outline: none
			+transition()
			
			&.active,
			&:hover
				background-color: $color-brand-2

	&__info
		position: relative
		z-index: 2

		&-title
			+font('b')
			margin-bottom: 45px

		&-subtitle
			font-size: 17px
			margin-bottom: 15px

		&-part
			position: relative
			padding-left: 45px
			
			&:before
				content: ""
				+absolute(50%, null, null, 0)
				transform: translateY(-50%)

			&:not(:last-child)
				margin-bottom: 20px

			&_phone
				&:before
					+size(25px)
					+bg("../img/phone.svg")

			&_email
				&:before
					+size(25px)
					+bg("../img/email.svg")

		&-link
			display: block
			text-decoration: none
			color: $color-brand-2
			+font('b')
			+transition

			&:hover
				color: $color-brand-1

		&-social

			&-item
				+relative()
				list-style: none

				&:not(:last-child)
					margin-bottom: 20px

			&-image
				+absolute(50%, null, null, -47px)
				transform: translateY(-50%)
				height: 27px