.front-help

	&__item

		+relative()
		
		&:not(:last-child)
			margin-bottom: 30px

		&-content
			margin-bottom: 20px
			font-size: 16px

			+min(sm)
				min-height: 130px
				font-size: 13px

			+min(md)
				font-size: 17px

		&-header
			+relative()
			display: inline-block
			font-size: 0
			margin-bottom: 15px

		&-title
			display: flex
			align-items: center
			justify-content: center
			+absolute(null, null, 10px, 50%)
			width: 90%
			padding: 5px
			transform: translateX(-50%)
			
			+font('b')
			text-align: center
			background-color: $color-white
			color: $color-brand-2
			line-height: 1.1

			+min(sm)
				font-size: 17px

			+min(md)
				padding: 10px
				font-size: 20px
				min-height: 75px

		&-footer
			text-align: center

		&-btn
			font-size: 10px
			padding: 10px

			+min(md)
				font-size: 11px