// Connect fonts
=connect-font($font, $class_name: $font, $fileType: otf)
  @font-face
    font-family: $font
    src: local("#{$font}"), url(../fonts/#{$font}.#{$fileType})

  @if $class_name != null
    .#{$class_name}
      font-family: $font
  @else
    .#{$font}
      font-family: $font

=font($type)
  @if $type == 'l'
    font-family: 'ProximaLight'
  @elseif $type == 'b'
    font-family: 'ProximaBold'
  @elseif $type == 'bl'
    font-family: 'ProximaBlack'

+connect-font('ProximaRegular', 'font-general')
+connect-font('ProximaLight', 'font-light')
+connect-font('ProximaBold', 'font-bold')
+connect-font('ProximaBlack', 'font-black')