<header class="header" style="background-image: url({{post.get_field('bg')|default(TimberImage(post.thumbnail).src)}})">
	<div class="container">
		<h1 class="title-lg header__title">
			{% if post.get_field('custom_title') %}
				{{ post.get_field('custom_title') }}
			{% else %}
				{{ post.title }}
			{% endif %}
	</h1>
	</div>
</header>