{% if post.get_field('bg') %}
{% set url = post.get_field('bg') %}
{% elseif TimberImage(post.thumbnail).src %}
{% set url = TimberImage(post.thumbnail).src %}
{% else %}
{% set url = "#{theme.link}/static/build/img/bg-ch1.jpg" %}
{% endif %}

{% if post.get_field('custom_title') %}
	{% set title = post.get_field('custom_title') %}
{% elseif function('is_post_type_archive') %}
	{% set title = function('post_type_archive_title', "", false) %}
{% else %}
	{% set title = post.title %}
{% endif %}

{% if function('is_single') %}
	{% set titleClass = 'title-md' %}
{% else %}
	{% set titleClass = 'title-lg' %}
{% endif %}
<header class="header" style="background-image: url({{url}})">
	<div class="container">
		<h1 class="{{titleClass}} header__title">{{title}}</h1>
	</div>
</header>